doctype html 
html 
    head 
        title Good Morning 
    body    
        h1 Welcome Krishnamoorthy
        p hi 
        a(href='') Click me
        ul  
            each val in ['aaa' ,'bbb', 'ccc']
                li=val
        div 
            input(
                type='text'
                placeholder='Name'
            )
            input(type="button", value="click")
        div 
            h1=name 
            h2=age
